# Ignore all files with the .xdmf and .h5 extensions
*.xdmf
*.h5

# Ignore all folders and their contents
*/

# Ignore book pdf
*.pdf

# Ignore everything by default
*

# Allow only Python and Jupyter Notebook files
!*.py
!*.ipynb

# Allow folders you want
!src/

# Ignore Jupyter checkpoints
.ipynb_checkpoints/

# Ignore virtual environments
.venv/
env/

# Ignore system/editor files
__pycache__/
.vscode/
.DS_Store

